<!-- went over the assessment with Juddie so we could both try and understand it better
played around with the templates, models, and views and found a lot of what doesn't work but some
of what does -->
{% for post in post_boast %}

{% if post.isBoast is True %}
        <h2>Boast</h2>
        {% else %}
            <h2>Roast</h2>
    {% endif %}

<h3>{{ post.text }}</h3>
<h4>{{ post.likes }} <a href="/boasts/{{post.id}}/">Like</a></h4>
<h2>{{ post.created_at }}</h2>

{% endfor %}

