<a href="/"><button>Home</button></a>
<form action='' method='post'>
    {% csrf_token %}
    <!--    as_p changed form to look better-->
    {{ form.as_p }}
    <input type='submit' value='Submit'>
</form>