<!-- homepage displays both boasts and rows and they're sorted
by the time submitted. Per demo in sections basically. On homepage
at the top buttons to homepage, sort by votes, boasts, roasts, and create post
_____________________
<h1>Roast</h1>
then post that was created
<a href showing upvote and downvote two separate links
0
date here
-->
<!--couldn't get votes page to render but DeQuan looked at it and figured out-->
<!--where the typo was-->
<h1>Ghost Post</h1>

<a href="/"><button>Home</button></a>
<a href="boasts/"><button>Boasts</button></a>
<a href="roasts/"><button>Roasts</button></a>
<a href="votes/"><button>Sort by votes</button></a>
<a href="createpost/"><button>Create post</button></a>

{% for post in posts %}

<ul>
<!--    Elisia helped with if statement here-->
    {% if post.isBoast is True %}
        <h2>Boast</h2>
        {% else %}
            <h2>Roast</h2>
    {% endif %}
<!--    <h2>{{ post.isRoast }}</h2>-->
<!--    could also get_<name of field>_display-->
    <h3>{{ post.text }}</h3>
    <h4>{{ post.likes }} <a href="/like/{{post.id}}/">Like</a></h4>
    <h4>{{ post.dislikes }} <a href="/dislike/{{post.id}}/">Dislike</a></h4>
    <h4>Total votes {{ post.total }}</h4>
    <h4>Vote score {{ post.vote_score }}</h4>
    <h2>{{ post.created_at }}</h2>
<!--    <li><a href="/like/{{post.id}}/">Like</a></li>-->
<!--    <li><a href="/dislike/{{post.id}}/">Dislike</a></li>-->
</ul>

{% endfor %}