{% for post in post_roast %}

{% if post.isBoast is True %}
        <h2>Boast</h2>
        {% else %}
            <h2>Roast</h2>
    {% endif %}
<h3>{{ post.text }}</h3>
<h4>{{ post.dislikes }} <a href="/roasts/{{post.id}}/">Dislike</a></h4>
<h2>{{ post.created_at }}</h2>

{% endfor %}

